.login-container{
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;

}

.login{
    height: 50vh;
    width: 50vw;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    padding: 60px;
    place-content: center;
}

.login form{
    gap: 10px;
    width: 100%;
    flex-direction: column;
}


.login form h1{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom:20px;
}


.login form input{
    padding: 10px 5px;
    border-radius: 4px;
    border: 0.5px solid steelblue;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
}

.login form input{
    padding: 10px 5px;
    border-radius: 4px;
    border: 0.5px solid steelblue;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
}

.login-button,.google-button{
    width: 100%;
    padding: 5px 10px;
    font-size: 20px;
    border: 0;
    outline: 0;
    color: white;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.login-button{
    background-color: steelblue;
}

.google-button{
    background-color: #DB4437;
}