.backdrop{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.4);
    width:100%;
    height:100vh;
    display:none;
    
}

.backdrop.open{
    display:block;
}

.modal{
    height:max-content;
    width:fit-content;
    background:white;
    border-radius:10px;
    padding:20px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 23;
    display: none;
}

.modal.open {
    display: block;
}

.closeButton{
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.closeButton img {
    width: 100%;
    height: 100%;
}