.card{
    padding: 10px;
    width: 100%;
    height: 129px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    margin: 9px 0px;
    height: -webkit-fill-available;
}

.card-head{
    align-items: center;
    padding: 2px 9px;
    background: #F2994A;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.card-header{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin: 7px 0px;
}

.card-description{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #4F4F4F;
    margin: 7px 0px;
}

.card hr{
    border-top: 0.5px solid #E0E0E0;
}

.card-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    color: #828282;
    
}

.modal .card{
    min-width: 550px;
}