.columns-container{
    min-height: 100vh;
    flex-grow: 1;
    flex-basis: 0;
    background-color: red;
}


.column-head{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #707070;
    margin: 64px 0;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.tasker-scroll{
    width: max-content;
    display: flex;
    background-color: red;
    width: 100%;
}

@media(max-width:760px){
    .columns-container{
        width: 400px;
        min-height: 100vh;
    }
    
}