@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "./card.css";
@import "./columns.css";

*{
    font-family: 'Roboto', sans-serif !important;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background: #ffffff; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #00ff6a; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ff9100; 
  }