.sidebar{
    width: 240px;
    min-height: 100vh;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile{
    width: 72px;
    height: 72px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    display: block;
    margin-top: 38px;
    left: 50%;
    position: relative;
    transform: translate(-50%);
    
}

.profile img{
    width: 100%;
    height: 100%;
}

.menu{
    width: 67px;
    height: 67px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    bottom: 63px;
    left: 50%;
    transform: translate(-50%);
}

.sidebar h1{
    text-align: center;
    margin-top: 39px;
    width: 235px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding: 0;
}


.addTask {
    width: 67px;
    height: 67px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
}